body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url("no.2.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    color: chocolate;
    border: medium solid black;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: azure;
    text-align: center;
    padding: 10px;
}

section {
    margin: 0 auto;
    background-color: azure;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}
