body {
    background-image: url('https://4kwallpapers.com/images/wallpapers/playstation-icons-3840x2160-12696.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
h1 {
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 10px;
}
main {
    padding: 20px;
}
section {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-weight: 200;
    font-size: 0.8rem;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}
footer li {
    padding: 10px;
    list-style: none;
}
